<%= form_with(model: slot) do |form| %>
  <% if slot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
        <% slot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Bryggplatsnummer", style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label "Längd", style: "display: block" %>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.label "Bredd", style: "display: block" %>
    <%= form.number_field :width %>
  </div>

  <div>
    <%= form.label "Brygga", style: "display: block" %>
    <%= form.number_field :jetty %>
  </div>

  <div>
    <%= form.submit "Skapa Bryggplats", class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded mt-4" %>
  </div>
<% end %>
