<div id="<%= dom_id slot %>">
  <p>
    <strong>Slot Number:</strong>
    <%= slot.number %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= slot.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= slot.width %>
  </p>

  <p>
    <strong>Jetty:</strong>
    <%= slot.jetty %>
  </p>

</div>
