<p style="color: green"><%= notice %></p>


<table id="boats" class="table-auto">
  <thead class="border-b bg-gray-800">
    <tr>
      <th class="text-sm font-medium text-white px-6 py-4">Bryggplats (Brygga)</th>
      <th class="text-sm font-medium text-white px-6 py-4">Båt</th>
      <th class="text-sm font-medium text-white px-6 py-4">Bredd</th>
      <th class="text-sm font-medium text-white px-6 py-4">Längd</th>
      <th class="text-sm font-medium text-white px-6 py-4">Ägare</th>
    </tr>
  </thead>
  <tbody>
    <% @boats.each do |boat| %>
      <tr class="bg-white border-b">
        <td class="text-sm text-blue-500 hover:text-blue-800 font-light px-6 py-4 whitespace-nowrap">
          <%= link_to boat.slot.slot_with_jetty_number, boat.slot unless boat.slot.nil?%>
        </td>
        <td class="text-sm text-blue-500 hover:text-blue-800 font-light px-6 py-4 whitespace-nowrap">
          <%= link_to boat.name, boat %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
          <%= boat.width %> (<%= boat.width - boat.slot.width %>) 
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
          <%= boat.length %> (<%= boat.length - boat.slot.length %>)
        </td>
        <td class="text-sm text-blue-500 hover:text-blue-800 font-light px-6 py-4 whitespace-nowrap">
          <%= link_to boat.member.name_with_member_number, boat.member unless boat.member.nil? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%=new_boat_path%>"%>
<button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded m-4">
  Lägg till ny båt
</button>
</a>
