<p style="color: green"><%= notice %></p>

<h1>Boats</h1>

<table id="boats">
  <tr>
    <th>Slot</th>
    <th>Name</th>
    <th>Width</th>
    <th>Length</th>
    <th>Owner</th>
  </tr>
  <% @boats.each do |boat| %>
    <tr>
      <td><%= link_to "Jetty #{boat.slot.jetty} slot #{boat.slot.id}", boat.slot%></th>
      <td><%= boat.slot.id %></th>
      <td><%= link_to boat.name, boat %></th>
      <td><%= boat.width %></th>
      <td><%= boat.length %></th>
      <td><%= link_to boat.member.name_with_member_number, boat.member %></th>
    </tr>
    <p>
    </p>
  <% end %>
</table>

<%= link_to "New boat", new_boat_path %>
